RewriteEngine On

# Bloquer les accès directs aux fichiers `.php` dans le dossier `src/views`
RewriteCond %{REQUEST_URI} ^/boutique-en-ligne/src/views/.*\.php$ [NC]
RewriteRule ^.*$ index.php?r=page404 [L]

# Bloquer les accès directs aux fichiers `.php` dans le dossier `src`
RewriteCond %{REQUEST_URI} ^/src/.*\.php$ [NC]
RewriteRule ^.*$ index.php?r=page404 [L]

# Rediriger les URLs de pages spécifiques vers leurs contrôleurs respectifs
RewriteRule ^detail/([0-9]+)$ index.php?r=detail&id=$1 [QSA,L]
RewriteRule ^(index|panier|categories|profil|connexion|admin-produits|admin-users|admin-sub-category|verification|reset_password|reset_request|verification_password|confirmation)$ index.php?r=$1 [QSA,L]

# Gestion de la page de confirmation
RewriteRule ^confirmation$ index.php?r=confirmation [QSA,L]

# Autoriser l'accès aux ressources statiques comme CSS, JS, et images
RewriteCond %{REQUEST_URI} !^/assets/ [NC]
RewriteCond %{REQUEST_URI} !^/config/search\.php$ [NC]

# Autoriser uniquement les URLs de la forme /boutique-en-ligne/nomdelaview
RewriteCond %{REQUEST_URI} !^/boutique-en-ligne/([a-zA-Z0-9_-]+)$ [NC]

# Rediriger les URLs inexistantes vers la page 404 si ce ne sont pas des fichiers ou dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php?r=page404 [L]

# Empêcher l'affichage du contenu des répertoires
Options -Indexes

# Protéger le fichier .htaccess
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Activer la compression Gzip
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript
</IfModule>

# Définir l'expiration des fichiers statiques
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType text/x-javascript "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresDefault "access plus 2 days"
</IfModule>