/* Style de base du tableau */
.user-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

/* Style des cellules */
.user-table th,
.user-table td {
    border: 1px solid black;
    padding: 10px;
    font-family: 'Afaacad', sans-serif;
}

/* Ligne 1 */
.line-1 {
    background-color: var(--grey);
    color: var(--background);
}

/* Autres lignes */
.other-lines {
    background-color: var(--background);
}

/* Version Mobile - 3 colonnes */
@media (max-width: 768px) {
    /* Cache toutes les colonnes sauf ID, Nom et Email */
    .user-table tr th:nth-child(4),
    .user-table tr td:nth-child(4),
    .user-table tr th:nth-child(5),
    .user-table tr td:nth-child(5),
    .user-table tr th:nth-child(6),
    .user-table tr td:nth-child(6) {
        display: none;
    }
}

/* Style pour les boutons d'action */
.user-table button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.user-table button:hover {
    background-color: var(--yellow);
}

.user-table .editable input,
.user-table .editable textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Styles pour le modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal > input{ 
    width: 80%;
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto; 
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}