/* Style de base du tableau */
.user-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

/* Style des cellules */
.user-table th,
.user-table td {
    border: 1px solid black;
    padding: 10px;
    font-family: 'Afaacad', sans-serif;
}

/* Ligne 1 */
.line-1 {
    background-color: var(--grey);
    color: var(--background);
}

/* Autres lignes */
.other-lines {
    background-color: var(--background);
}
/* Affichage minimal : uniquement ID, Nom et Action */
.user-table th:nth-child(3),
.user-table td:nth-child(3),
.user-table th:nth-child(4),
.user-table td:nth-child(4),
.user-table th:nth-child(5),
.user-table td:nth-child(5),
.user-table th:nth-child(6),
.user-table td:nth-child(6) {
    display: none;
}

@media (min-width: 470px) {
    /* Ajoute la colonne Rôle */
    .user-table th:nth-child(6),
    .user-table td:nth-child(6) {
        display: table-cell;
    }
}

@media (min-width: 550px) {
    /* Ajoute la colonne Prénom */
    .user-table th:nth-child(3),
    .user-table td:nth-child(3) {
        display: table-cell;
    }
}

@media (min-width: 800px) {
    /* Ajoute la colonne Email */
    .user-table th:nth-child(4),
    .user-table td:nth-child(4) {
        display: table-cell;
    }
}

@media (min-width: 1000px) {
    /* Ajoute la colonne Adresse */
    .user-table th:nth-child(5),
    .user-table td:nth-child(5) {
        display: table-cell;
    }
}
